* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 207, 167);
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
}

header div{
    max-width: 200vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 2rem;
    display: flex;
    align-items: center;
    color: azure;
    font-weight: normal;
    font-size: clamp(2px,4vw,35px);
    white-space: nowrap;
}

header h1{
    font-weight: normal;
    color: rgb(90, 74, 55);
    text-shadow: 1px 1px 2px rgb(90, 74, 55);
}

header img {
    border-radius: 50%;
    width: 4rem;
}

.intro {
    max-width: 800px;
    min-width: 200px;
    display: block;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 0px;

}


.intro h1{
    display: block;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(90, 74, 55);
    font-weight: normal;
}

.catalogo {
    margin-top: 5rem;
    display: block;
    justify-content: center;
}

.catalogo .title{
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 61, 45);
    font-weight: 400;
    font-size: 3rem;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 2rem;
    margin-bottom: 0px;
}

.element {
    min-width: 17rem;
    background-color:rgb(255, 240, 221);
    border-radius: 22px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease,transform 0.5s ease
}

.element:hover {
    background-color:rgb(255, 255, 255);
    transform: scale(1.1);
}

.element .picture{
    display: flex;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0px;
    width: 13rem;
    height: auto;
    border-radius: 25px;
}

.element .name {
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 74, 55);
    font-size: 1.6rem;
    font-weight: 600;
    
}

.element .price {
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(90, 74, 55);
    font-size: 2.5rem;
    font-weight:500;
    margin-bottom: 1rem;
    
}

.element .star {
    padding: 2rem;
    padding-bottom: 0.4rem;
    width: 2rem;
}

button {
    margin: 5rem;
    display: flex;
     justify-self: center;
    align-content: center;
    align-self: center;
    font-size: 2rem;
    background-color: rgb(165, 91, 42);
    border-radius: 10px;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 245, 233);
    border: none;
}







