* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: rgb(255, 207, 167);
    background-repeat: repeat;
    background-size: 275px 275px;
    display: flex;
    flex-direction: column;
}

.ig{
    display: block;
    align-self: center;
    justify-self: center;
    width: 3rem;
    height: 3rem;
}

header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

header div{
    max-width: 200vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    color: azure;
    font-weight: normal;
    font-size: clamp(2px,4vw,35px);
    white-space: nowrap;
}

header h1{
    font-weight: normal;
    color: rgb(90, 74, 55);
    text-shadow: 1px 1px 2px rgb(90, 74, 55);
}

header img {
    border-radius: 50%;
    width: 4rem;
}

.intro {
    max-width: 40rem;
    min-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0px;
}


.intro h1{
    display: block;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(90, 74, 55);
    font-weight: normal;
}

.catalogo {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo .title{
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 61, 45);
    font-weight: 400;
    font-size: 3rem;
}

.section {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 2rem;
    margin-bottom: 0px;
}

.element {
    box-shadow: 3px 3px 5px rgba(104, 65, 40, 0.301);
    min-width: 17rem;
    background-color:rgb(255, 240, 221);
    border-radius: 22px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.ped {
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: rgb(136, 95, 40);
    transform: scale(1);
    transition: background-color 0.5s ease,transform 0.5s ease
}

.ped:hover {
    background-color: rgb(189, 182, 87);
    transform: scale(1.1);
}

.ped:click {
    background-color: rgb(67, 194, 116);
    transform: scale(1.1);
}

.image_container{
    box-sizing: border-box;
    position: relative;
    margin-top: 1.5rem;
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 25px;

    
}

.image_container .picture{
    height: 100%;
    /* height: auto; */
    width: 100%;
    display: block;
    margin-bottom: 0px;
    filter: blur(0px);
    transition: filter 0.5s ease;
}

.image_container.active .picture{
    filter: blur(8px);
}


.info {
    opacity: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100%;
    font-size: 22px;
    padding: 1rem;
    position: absolute;
    text-align: left;
    word-wrap: break-word;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);;
    background-color: rgba(100, 99, 91, 0.527);
    top: 0;
    left: 0;
    transform:scale(1.5);
    transition: opacity 0.5s ease,transform 0.5s ease;
}

.image_container.active .info{
    opacity: 1;
    transform:scale(1);
}

.info_button {
    display: flex;
    position: absolute;
    transform: scale(1);
    z-index: 1;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    top:  42%;
    left: 81%;
    background-color: rgb(252, 62, 62);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    filter: saturate(1);
    transition: filter 0.5s ease,transform 0.5s ease;
}

.info_button:hover {
    transform: scale(1.1);
}


.info_button img {
    width: 2rem;
    height: 2rem;
}

.button_out {
    filter: saturate(0);
}

.button_out img{
    content: url(images/elements/eye_closed.png);
}

.element .name {
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 74, 55);
    font-size: 1.6rem;
    font-weight: 600;
}

.element .detail{
    font-size: 1.2rem;
    color: rgb(143, 133, 77);
    min-height: 1.5rem;
}

.element .price {
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(90, 74, 55);
    font-size: 2.5rem;
    font-weight:500;
    
}

.element .subprice {
    min-height: 2.2rem;
    max-width: 16rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(136, 128, 55);
}

.element .star {
    padding: 2rem;
    padding-bottom: 0.4rem;
    width: 2rem;
}

button {
    margin: 1rem;
    display: flex;
    justify-self: center;
    align-content: center;
    align-self: center;
    font-size: 2rem;
    background-color: rgb(165, 91, 42);
    border-radius: 10px;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 245, 233);
    border: none;
}

.dir {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 181, 129);
    margin-top: 3rem;
    border-radius: 30px;
    margin: 3rem;
}

.dir a{
    font-size: 30px;
}



.dir input {
    text-align: center;
    margin-top: 20px;
    width: 60%;
    background: none;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid white;
    margin-bottom: 10px;;

}

.dir input:focus {
    outline: none;
}

.web {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}






